<div>
<div class="heroList"> <h2 >My Heroes</h2>
<ul class="heroes" >
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
</div>
<div class="heroInfo">
<table>
  <tr>
    <td> Hero name: </td>
    <td>  <input #heroName /> </td>
  </tr>
<tr>
<td> Hero email: </td>
  <td> <input #heroEmail /> </td>

</tr>
<tr>
  <td> Hero city: </td>
  <td> <input #heroCity /> </td>

</tr>
</table>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value, heroEmail.value, heroCity.value); heroName.value=''; heroEmail.value=''; heroCity.value=''">
    add
  </button>
</div>
</div>
<!--  <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
